{#
{% extends 'base.html.twig' %}

{% block title %}Скорая шаманская помощь{% endblock %}

{% block body %}
    <div class="out">
        <div class="wrapper">

            <div class="content">
                <div class="content__center center">
                    <p>1. Диагностика</p>
                    <p>Наказание или бесценный дар?</p>
                    <p>Шаман рассматривает болезни и неприятные жизненные ситуации не как бедствие, уж тем более, не как "кару небесную", а как эффективнейшие способы познания и развития. Все страдания создало наше Божественное Высшее "Я", чтобы дать новый толчок нашему движению вперёд, к более полному осознанию своей ответственности за всё, что мы творим своими мыслями, эмоциями и действиями.  Лишь восстановив в сознании причинно-следственные связи (индусы называют их кармой) и устранив внутренние причины заболеваний и лишений, мы получаем на материальном уровне желаемое (выздоровление, материальный достаток, личные отношения и др.).</p>
                    <p>Выяснить первопричину событий в мыслях, эмоциях, действиях - главная цель данной работы. </p>

                    <p>2. Энергетическая чистка. Снятие приворотов, порч, проклятий.</p>
                    <p>Эта практика для людей, искренне желающих свободы. Как Вы думаете, какая доля человечества свободна от паразитов (червей, простейших)? По самым оптимистическим данным, не более 15%. Доля людей, живущих без энергетических паразитов, и того меньше, до 5%. Путей энергетического "заражения" масса: порчи, сглазы, проклятия, привороты, вселения, эгрегорные подключения и т.д.</p>
                    <p>Как влияют на  жизнь хозяина энергетические паразиты? Очень по-разному. Но все они, управляя  мыслями и действиями человека, провоцируют его на низкочастотные эмоции, энергией которых питаются (страх, зависть, злость, обида, ревность, разочарование и другие «деликатесы»). Как Вы считаете, в таком эмоциональном фоне, какие события и каких людей мы притянем?</p>
                    <p>Безусловно, "энергетическая инфекция" - не причина, а следствие наших собственных отрицательных мыслей и эмоций, дающих паразитам корм. Даже полное очищение шаманом энергоинформационных структур станет только "глотком свежего воздуха", если Вы не готовы изменить привычный ход своих мыслей и отношение к жизни. Тем не менее, чистку рекомендую всем (конечно, после диагностики, а вдруг Вы - счастливчик из 5%!). Как захотеть свободы, если не знать её вкуса?</p>
                    <p>Хотите безраздельно использовать свою силу, энергетический потенциал, думать свои собственные мысли, испытывать свои чувства, делать свои выборы, получать свой опыт и жить свою жизнь? Тогда эта работа для Вас!</p>

                    <p>3. Установление характера воздействия и соответствия цели (полезности) медицинских препаратов, приборов, артефактов (талисманов, амулетов).</p>
                    <p>Подарили колечко с камешком… красивое… но что-то мешает его надеть…</p>
                    <p>Заказала по интернету талисман для привлечения денег… Поначалу, вроде было улучшение в делах… потом пошло на спад, почему?</p>
                    <p>Назначили курс лечения… Если верить производителям лекарства, должно помочь… Помогло, но не надолго… А может и не помогло, понадеялся, что поможет, вот и показалось… Теперь и с печенью проблемы…</p>
                    <p>В повседневной жизни мы привыкли, как правило,  доверять физическим вещам и предметам в плане их соответствия назначению, заложенному изготовителем. Некоторые предметы прямо воздействуют на физическое и энергетические тела человека (лекарства, медицинские и энергоинформационные приборы). Другие имеют определённый сакральный смысл, помогая взаимодействовать с тонким миром. При этом утилитарное значение таких предметов – украшений (колец, кулонов, браслетов и т.д.), ритуальных кристаллов, ножей, статуэток, подсвечников и др., отходит на второй план. В обиходе они называются амулетами, талисманами, оберегами, предметами силы, обобщённо - артефактами.</p>
                    <p>Данная работа поможет Вам выяснить, является ли конкретный препарат лекарством для Вас, а не "вообще" и "в принципе", поможет ли (и в чём) оберег. Ни для кого  не секрет, что часто сильнодействующее лекарственное средство не оказывает ожидаемого лечебного воздействия и откровенно вредит, а приобретённый за немалые деньги амулет не улучшает качества жизни владельца  (особенно, если владелец поменялся).</p>
                    <p><b>Узнайте, подходит ли "ЭТО" Вам.</b></p>

                    <p><b>4. Изготовление индивидуальных предметов силы (талисманов, оберегов, амулетов и пр.</b></p>
                    <p><b>«Неразменный пятак и счастливая подкова».</b></p>
                    <p>Эта работа является логическим продолжением работы №3, с той лишь разницей, что изготовленные шаманом для Вас артефакты будут заведомо Вашими. Ваша уникальность и намерения станут главными критериями выбора материала, дизайна, символики, времени изготовления,  Духа- помощника и момента его вселения. Хотя шаман в состоянии сделать мощно действующим оберегом и пробку от пива, и рулон туалетной бумаги, всё же лучше учесть вышеперечисленные факторы. Не стоит идти наперекор природным стихиям, целесообразнее использовать их силу. Хотя, в ряде случаев, уместно придать магическую силу предмету, которым Вы дорожите и с которым редко расстаётесь. Пусть Ваш талисман принесёт Вам удачу!</p>

                    <p><b>5. Выбор оптимального места строительства, настройка территорий, площадей и пространства в соответствии с заданными целями.</b></p>
                    <p>Этот вид работы не имеет ничего общего с книгами по Фэн-Шуй, при всём моём уважении к древнему учению. Хотя я и не исключаю возможности совпадения отдельных рекомендаций. Руки шамана свободны также и от рамок для биолокации. Я не дам размытого ответа, "положительная" или "отрицательная" энергетика данного места, а определю его соответствие конкретному назначению: бизнес (производство, торговля и пр.), проживание людей. "Не место красит человека, а человек место",- эту поговорку считаю полностью справедливой. Даже исходно неподходящее место может быть энергетически скорректировано шаманом для счастья и процветания</p>

                    <p><b>6. Осознанное творение и конструирование своей жизни.</b></p>
                    <p><b>1. «Всё будет так, как  я хочу, всё будет так, как я велю»</b></p>
                    <p>Эта работа поможет человеку, видящему в своей жизни не набор случайных и неожиданных событий, а стройную систему причинно-следственных связей, поддающуюся  программированию и коррекции. Ведь даже самому результативному, успешному и продвинутому полезен, порой, непредвзятый взгляд Мастера со стороны и из нефизической перспективы. Анализ и правка прошлого и наиболее вероятного будущего помогут Вам проживать счастливое настоящее.</p>
                    <p>Воспользуйтесь возможностью осознанно программировать и создавать любые возможные блага без неприятных побочных эффектов. Дерзните хотеть и получать!</p>
                    <p><b>2. Давайте сделаем это вместе.</b></p>
                    <p>Шаманизм предусматривает свободу от монополии на духовное развитие, знания и практики. Моя цель - не углубить пропасть между целителем и пациентом, а воздвигнуть через неё прямой и короткий мост. Данная работа позволяет в сотворчестве создать свою личную Систему Жизни-В-Удовольствие, исходя из собственных целей и уникальности, а не веяний моды или мнений авторитетов.</p>
                    <p>Анализируя ключевые моменты Вашей жизни, события и знаки, особенности и приоритеты, совместно с Вами мы разрабатываем индивидуальные оздоровительные и медитативные практики, систему питания и  прокладываем Ваш уникальный путь целостности и комфорта во всех сферах.</p>

                    <p><b7. Музыкальная магия. ></b></p>
                    <p>«Музыка – самый сильный вид магии»</p><p>К. Сантана</p>
                    <p>Эта работа заключается в создании и записи целительных, очищающих и настраивающих на достижение цели звуков на сакральных шаманских инструментах - хомусе и бубне. Данное звуковое послание не предназначено для коллективного прослушивания, оно создается для Вас персонально в соответствии с Вашими  состоянием здоровья и целями. Прослушивание данной звуковой записи гармонизирует Ваши энергии, настраивая их на резонансные частоты исцеления и успеха. Средняя продолжительность саундтрека 2-5 минут. Эта музыка – Ваше лекарство и инструмент, поэтому используется по инструкциям, которые я прилагаю индивидуально.</p>

                    <div>
                    <h3>Заявка на помощь</h3>
                    </div>

                </div>
            </div>

            {{ include('chunks/footer.html.twig') }}
        </div>
    </div>
{% endblock %}
#}
{% extends 'base.html.twig' %}

{% block title %}Скорая шаманская помощь{% endblock %}

{% block body %}
    <div class="out">
        <div class="wrapper">
            <div class="main">
                <div class="main__center center" style="background: #112146; -webkit-box-shadow: 0px 0px 13px 9px rgba(7,21,57,1); -moz-box-shadow: 0px 0px 13px 9px rgba(7,21,57,1); box-shadow: 0px 0px 13px 9px rgba(7,21,57,1);">
                    <button class="main__burger js-burger"></button>
                    <div class="main__control js-control">
                        {{ include('chunks/nav.html.twig') }}
                    </div>
                    <div class="content">
                        <div class="content__center center">
                            <p><b><u>1. Диагностика</u></b></p>
                            <p><b><u>Наказание или бесценный дар?</p></b></u>
                            <p>Шаман рассматривает болезни и неприятные жизненные ситуации не как бедствие, уж тем более, не как "кару небесную", а как эффективнейшие способы познания и развития. Все страдания создало наше Божественное Высшее "Я", чтобы дать новый толчок нашему движению вперёд, к более полному осознанию своей ответственности за всё, что мы творим своими мыслями, эмоциями и действиями. Лишь восстановив в сознании причинно-следственные связи (индусы называют их кармой) и устранив внутренние причины заболеваний и лишений, мы получаем на материальном уровне желаемое (выздоровление, материальный достаток, личные отношения и др.).</p>
                            <p>Выяснить <b><em>первопричину</em></b> событий в мыслях, эмоциях, действиях - главная цель данной работы.
                            </p>

                            <p><b><u>2. Энергетическая чистка. Снятие приворотов, порч, проклятий.</u></b></p>
                            <p>Эта практика для людей, искренне желающих свободы. Как Вы думаете, какая доля человечества свободна от паразитов (червей, простейших)? По самым оптимистическим данным, не более 15%. Доля людей, живущих без энергетических паразитов, и того меньше, до 5%. Путей энергетического "заражения" масса: порчи, сглазы, проклятия, привороты, вселения, эгрегорные подключения и т.д.</p>
                            <p>Как влияют на жизнь хозяина энергетические паразиты? Очень по-разному. Но все они, управляя мыслями и действиями человека, провоцируют его на низкочастотные эмоции, энергией которых питаются (страх, зависть, злость, обида, ревность, разочарование и другие «деликатесы»). Как Вы считаете, в таком эмоциональном фоне, какие события и каких людей мы притянем?</p>
                            <p>Безусловно, "энергетическая инфекция" - не причина, а следствие наших собственных отрицательных мыслей и эмоций, дающих паразитам корм. Даже полное очищение шаманом энергоинформационных структур станет только "глотком свежего воздуха", если Вы не готовы изменить привычный ход своих мыслей и отношение к жизни. Тем не менее, чистку рекомендую всем (конечно, после диагностики, а вдруг Вы - счастливчик из 5%!). Как захотеть свободы, если не знать её вкуса?</p>
                            <p>Хотите <b><em>безраздельно</em></b> использовать <b><em>свою</em></b> силу, энергетический потенциал, думать <b><em>свои</em></b> собственные мысли, испытывать <b><em>свои</em></b> чувства, делать <b><em>свои</em></b> выборы, получать <b><em>свой</em></b> опыт и жить <b><em>свою</em></b> жизнь? Тогда эта работа для Вас!</p>

                            <p><b><u>3. Установление характера воздействия и соответствия цели (полезности) медицинских препаратов, приборов, артефактов (талисманов, амулетов).</u></b></p>
                            <p>Подарили колечко с камешком… красивое… но что-то мешает его надеть…</p>
                            <p>Заказала по интернету талисман для привлечения денег… Поначалу, вроде было улучшение в делах… потом пошло на спад, почему?</p>
                            <p>Назначили курс лечения… Если верить производителям лекарства, должно помочь… Помогло, но не надолго… А может и не помогло, понадеялся, что поможет, вот и показалось… Теперь и с печенью проблемы…</p>
                            <p>В повседневной жизни мы привыкли, как правило, доверять физическим вещам и предметам в плане их соответствия назначению, заложенному изготовителем. Некоторые предметы прямо воздействуют на физическое и энергетические тела человека (лекарства, медицинские и энергоинформационные приборы). Другие имеют определённый сакральный смысл, помогая взаимодействовать с тонким миром. При этом утилитарное значение таких предметов – украшений (колец, кулонов, браслетов и т.д.), ритуальных кристаллов, ножей, статуэток, подсвечников и др., отходит на второй план. В обиходе они называются амулетами, талисманами, оберегами, предметами силы, обобщённо - артефактами.</p>
                            <p>Данная работа поможет Вам выяснить, является ли конкретный препарат лекарством для Вас, а не "вообще" и "в принципе", поможет ли (и в чём) оберег. Ни для кого не секрет, что часто сильнодействующее лекарственное средство не оказывает ожидаемого лечебного воздействия и откровенно вредит, а приобретённый за немалые деньги амулет не улучшает качества жизни владельца (особенно, если владелец поменялся).</p>
                            <p><b><em>Узнайте, подходит ли "ЭТО" Вам.</em></b></p>

                            <p><b><u>4. Изготовление индивидуальных предметов силы (талисманов, оберегов, амулетов и пр.</u></b></p>
                            <p><b><u>«Неразменный пятак и счастливая подкова».</u></b></p>
                            <p>Эта работа является логическим продолжением работы №3, с той лишь разницей, что изготовленные шаманом для Вас артефакты будут заведомо <em>Вашими</em>. Ваша уникальность и намерения станут главными критериями выбора материала, дизайна, символики, времени изготовления, Духа- помощника и момента его вселения. Хотя шаман в состоянии сделать мощно действующим оберегом и пробку от пива, и рулон туалетной бумаги, всё же лучше учесть вышеперечисленные факторы. Не стоит идти наперекор природным стихиям, целесообразнее использовать их силу. Хотя, в ряде случаев, уместно придать магическую силу предмету, которым Вы дорожите и с которым редко расстаётесь. Пусть <em>Ваш</em> талисман принесёт Вам удачу!</p>

                            <p><b><u>5. Выбор оптимального места строительства, настройка территорий, площадей и пространства в соответствии с заданными целями.</u></b></p>
                            <p>Этот вид работы не имеет ничего общего с книгами по Фэн-Шуй, при всём моём уважении к древнему учению. Хотя я и не исключаю возможности совпадения отдельных рекомендаций. Руки шамана свободны также и от рамок для биолокации. Я не дам размытого ответа, "положительная" или "отрицательная" энергетика данного места, а определю его соответствие конкретному назначению: бизнес (производство, торговля и пр.), проживание людей. "Не место красит человека, а человек место",- эту поговорку считаю полностью справедливой. Даже исходно неподходящее место может быть энергетически скорректировано шаманом для счастья и процветания</p>

                            <p><b><u>6. Осознанное творение и конструирование своей жизни.</u></b></p>
                            <p>
                                <b>1. «Всё будет так, как я хочу, всё будет так, как я велю»</b>
                            </p>
                            <p>Эта работа поможет человеку, видящему в своей жизни не набор случайных и неожиданных событий, а стройную систему причинно-следственных связей, 
                            поддающуюся программированию и коррекции. Ведь даже самому результативному, успешному и продвинутому полезен, порой, <b><em>непредвзятый</em></b> взгляд Мастера 
                            со стороны и из нефизической перспективы. <b><em>Анализ и правка прошлого и наиболее вероятного будущего помогут Вам проживать счастливое настоящее.</em></b></p>

                            <p>Воспользуйтесь возможностью осознанно программировать и создавать <b><em>любые возможные блага без неприятных побочных эффектов. Дерзните хотеть и получать!</em></b></p>

                            <p>
                                <b>2. Давайте сделаем это вместе.</b>
                            </p>
                            <p>Шаманизм предусматривает свободу от монополии на духовное развитие, знания и практики. Моя цель - не углубить пропасть между целителем и пациентом,
                             а воздвигнуть через неё прямой и короткий мост. Данная работа позволяет <b><em>в сотворчестве</b></em> создать свою личную <b><em>Систему Жизни-В-Удовольствие</em></b>, 
                             исходя из собственных целей и уникальности, а не веяний моды или мнений авторитетов.</p>
                            <p>Анализируя ключевые моменты Вашей жизни, события и знаки, особенности и приоритеты, <b><em>совместно с Вами</em></b> мы разрабатываем индивидуальные оздоровительные
                             и медитативные практики, систему питания и прокладываем Ваш уникальный путь целостности и комфорта во всех сферах.</p>

                            <p><b><u>7. Музыкальная магия</u></b></p>

                            <p align="right"><b><em>«Музыка – самый сильный вид магии»</em></b></p>
                            <p align="right"><b><em>К. Сантана</em></b></p>
                            <p>Эта работа заключается в создании и записи целительных, очищающих и настраивающих на достижение цели звуков на сакральных шаманских инструментах - хомусе и бубне. Данное звуковое послание не предназначено для коллективного прослушивания, оно создается для Вас персонально в соответствии с Вашими состоянием здоровья и целями. Прослушивание данной звуковой записи гармонизирует Ваши энергии, настраивая их на резонансные частоты исцеления и успеха. Средняя продолжительность саундтрека 2-5 минут. Эта музыка – Ваше лекарство и инструмент, поэтому используется по инструкциям, которые я прилагаю индивидуально.</p>

                            {{ include('chunks/task_form.html.twig') }}

                        </div>
                    </div>
                </div>
            </div>
            {{ include('chunks/footer.html.twig') }}
        </div>
    </div>
{% endblock %}