{% extends 'base.html.twig' %}

{% block title %}Вопросы-ответы{% endblock %}

{% block body %}
    <div class="out">
        <div class="wrapper">
            <div class="main">
                <div class="main__center center" style="background: #112146; -webkit-box-shadow: 0px 0px 13px 9px rgba(7,21,57,1); -moz-box-shadow: 0px 0px 13px 9px rgba(7,21,57,1); box-shadow: 0px 0px 13px 9px rgba(7,21,57,1);">
                    <button class="main__burger js-burger"></button>
                    <div class="main__control js-control">
                        {{ include('chunks/nav.html.twig') }}
                    </div>
                    <div class="content">
                        <div class="content__center center">
                            <h3 align="center">
                                <u>ВОПРОС – ОТВЕТ. Вместо того, чтобы испытывать страх перед будущим, начните исправлять настоящее!</u>
                            </h3>
                            <div style="padding: 25px 0 25px 0; color: #fff;">
                                Этот раздел составлен на основе реальных вопросов людей обращавшихся ко мне за помощью. Я цитирую их безлично с их разрешения. Иногда, я отвечаю бесплатно на вопросы своих пациентов, если ответ не носит характера энергетической работы или диагностики. Я буду продолжать вносить Ваши вопросы и мои ответы в этот раздел. Для удобства прочтения и быстрого поиска нужной информации, я разделил вопросы тематически.
                            </div>
                            {#
                            <button type="submit" class="faq-btn">ЗДОРОВЬЕ</button>
                            <button type="submit" class="faq-btn">ПРИЧИНЫ БОЛЕЗНЕЙ</button>
                            <button type="submit" class="faq-btn">РОСТ И РАЗВИТИЕ</button>
                            <button type="submit" class="faq-btn">ПОМОЩЬ СЕБЕ САМОМУ</button>
                            <button type="submit" class="faq-btn">РОДИТЕЛИ И ДЕТИ</button>
                            <button type="submit" class="faq-btn">ПИТАНИЕ ДУШИ И ТЕЛА</button>
                            <button type="submit" class="faq-btn">ПО РАЗДЕЛАМ МОЕЙ РАБОТЫ</button>
                            #}

                            <div class="dropdown">
                                <button class="dropbtn">Разделы</button>
                                <div class="dropdown-content">
                                    <a href="#">ЗДОРОВЬЕ</a>
                                    <a href="#">ПРИЧИНЫ БОЛЕЗНЕЙ</a>
                                    <a href="#">РОСТ И РАЗВИТИЕ</a>
                                    <a href="#">ПОМОЩЬ СЕБЕ САМОМУ</a>
                                    <a href="#">РОДИТЕЛИ И ДЕТИ</a>
                                    <a href="#">ПИТАНИЕ ДУШИ И ТЕЛА</a>
                                    <a href="#">ПО РАЗДЕЛАМ МОЕЙ РАБОТЫ</a>
                                </div>
                            </div>

                            <div class="question">
                                Зашел на Ваш сайт, хотел узнать что такое шаманизм, энергочистка, сглаз. Почему нет объяснений? Спасибо.
                            </div>

                            <div class="answer">
                                Данный сайт я открыл не с просветительской, а с терапевтической целью. Это - сайт визитка. Я не хотел перегружать его энциклопедическими статьями и терминами. Если Вы хотите узнать об этом подробнее адресую Вас к специальной литературе, которой сейчас очень много и, конечно, к интернет ресурсам. В некоторых случаях, моя трактовка и мое понимание этих терминов отличается от общепринятых, но когда Вы обращаетесь ко мне с конкретной помощью, я охотно объясню, что именно эти термины конкретно значат для Вас.
                            </div>

                            <div class="question">
                                Мне досталось много вещей от умерших родственников. Большую часть я раздала, а некоторые оставила. Одни на память, другие – ценные, третьи просто мне нравиться. Недавно прочла в интернете, что предметы умерших людей опасно носить и лучше даже не хранить дома. Приводились примеры, ужасных историй случившиеся с владельцами этих вещей. Все это беспокоит меня и тревожит! Можете ли Вы мне помочь?
                            </div>

                            <div class="answer">
                                Могу, конечно. Ваше беспокойство не беспочвенно. В моей практике встречались случаи, когда вещи умерших, а, иногда, и просто посторонних людей особенно с сомнительной или неизвестной судьбой (ворованные, купленные в ломбарде, случайно найденные, конфискованные, подаренные) приносили беду в дом новых владельцев. Основная причина этого кроется в эмоциональной привязанности к этим вещам старых владельцев, даже умерших, особенно, если душа усопшего не обрела покой и находится поблизости. В ряде случаев, такие вещи несут на себе магическое воздействие ( умышленные порчи, переложенные болезни, бедность и т.п.). Все эти программы могут быть устранены, а предметы не только очищены, но и настроены на удачу, здоровье, любовь для своих новых хозяев. Хотя, иногда, делать это нецелесообразно, о чем я сообщаю на этапе диагностики.
                            </div>

                            <div class="question">
                                Сейчас такое количество сайтов об оказании «помощи»! Я написал Вам, потому что Ваш сайт показался мне честным и интеллигентным, когда прочитал в разделе Ваших работ, что Вы помогаете «построить свою систему жизни». Мне 78 лет, я бегаю, занимаюсь цигун, парюсь в бане, много читаю научной, психологической, эзотерической литературы. Жизнь была у меня не легкая, как у всего моего поколения. Но я всегда помогал, вытаскивал себя сам. К сожалению, мои дети не усвоили от меня этой простой истины! Недавно узнал, что моя дочь, кандидат медицинских наук, обращалась к экстрасенсу! Откровенно говоря, не понимаю, зачем люди обращаются к таким как Вы?
                            </div>

                            <div class="answer">
                                <p>Очень приятно получить письмо от единомышленника! Я тоже глубоко убежден, что исцелить себя и решить свою проблему человек может ТОЛЬКО САМ! Однако, есть 3 аспекта о которых иногда забывают. Аспект первый – постороннее влияние, воздействие. Если заболевание, жизненные неприятности постигли человека с посторонней магической помощью, ему бывает нелегко, а порой не возможно справится с этой бедой, ища ответы только в себе самом. Безусловно ничего не происходит случайно и даже негативное магическое воздействие человек притягивает к себе САМ своими мыслями, негативными эмоциями и действиями. Но бывает, что между осознанием и освобождением, человеком причины неприятности и выравниванием ситуации на физическом уровне проходит слишком много времени. А жить нормально хочется сейчас! В этом случае обращение к шаману, целителю часто сигнализирует о том, что человек внутренне готов принять перемены к лучшему.</p>
                                <p>Аспект второй. Зачастую, даже духовно зрелому и осознанному человеку в полной мере ответственному за свою жизнь, бывает не просто посмотреть на себя и свою проблему со стороны, чтобы объективно оценить причину, а тем более скорректировать ее магически, поскольку магическая работа требует полной отстраненности и непредвзятости, ведь, помогая сами себе, мы всегда заинтересованы в достижении скорейшего результата, а, следовательно, не беспристрастны. По этой причине шаману не зазорно обратиться к другому шаману за помощью.</p>
                                <p>Третий аспект. Для очень многих людей сам по себе факт обращения к шаману, целителю, магу является лечением. Одни - преодолевают гордыню и иллюзию всезнания, другие – жадность, третьи – страх и стыд, четвертые – моральные принципы, пятые – скепсис и т.д.
                                </p>
                            </div>

                            <div class="question">
                                Я всегда очень за все беспокоюсь, беру все близко к сердцу и потом болею, страдаю от этого. А моя сестра все пропускает мимо ушей и никогда ничего не берет близко к сердцу. Но особо счастливой я бы ее не назвала. Как, все таки, правильно реагировать и не страдать?
                            </div>

                            <div class="answer">
                                Вы описали две крайности. В вас живет страх, чувство вины, что Вы не можете освободиться от плохих мыслей. Вы множите негатив и страдаете, в тоже время, учась жизни. Ваша сестра не страдает, но ничему не учиться. Как же поумнеть, но без страданий? Представьте себе, что Вы – сито. Не старое, дырявое, а новое, с тонкими капроновыми нитями, через которые все проходит. Вас охватывает негативная эмоция, дурное воспоминание о прошлом. Она проходит сквозь Вас, Вы знакомитесь с ней, умнеете, а когда заглядываете в сито, то там ничего нет. Если первый раз не получилось, то попробуйте, почувствовать плохое как образ понятный Вам (предмет, животное, человечек и пр.) поговорите с ним, попросите у него прощение, что не пропустили его через себя без остатка, а задержали, заперли его в себе, ограничили его свободу. Попросите прощение у тела за то что нанесли ему вред (недомогание, боль, болезнь, травма и пр.). Примите для себя этот жизненный урок и скажите об этом себе, образу и телу. Поупражняйтесь и вскоре Вы легко и с радостью будете пропускать через себя все плохое. Вам больше не придется ради самосохранения сторониться плохого или обращаться в бегство. Вам больше не придется загораживаться защитной стеной, как этому часто учат. Доверьтесь своим чувствам, они не обманывают!
                            </div>

                            <div class="question">
                                Моя мама все время болеет, сколько я себя помню она всегда лечиться, в доме запах лекарств. Все время приходят врачи, они все время меняются. В семье только и разговоров о болезнях, новых чудодейственных лекарствах и чудо-врачах. Ужас какой-то! Многолетняя медицинская история моей семьи, заставила меня задуматься о том, что в мамином случае традиционная медицина вряд ли поможет, ведь к кому только мы не обращались, и каких только лекарств не принимала моя мама! Каждый раз врачи находили что-то новое, а улучшений нет. Обращались мы и к народным целителям и экстрасенсам. Мы все радовались, маме стало лучше, но через некоторое время все возвращалось вновь. Я потеряла веру в возможность помочь моей маме! Недавно прочла в какой-то книге, что поиск внутренних причин болезней, бед меняет ситуацию радикально. Просматривая многочисленные сайты, я прочла, что «в диагностике Вы находите и определяете причины болезней, проблем». Наша семья реально нуждается в помощи, но хотела бы, прежде чем попросить Вас о ней, понять, как какие-то разговоры на малопонятные темы, могут помочь выздороветь человеку который всю жизнь болеет! Спасибо за ответ.
                            </div>

                            <div class="answer">
                                <p>Вообще не в моих правилах убеждать кого-то принять мою помощь. Я не делаю этого и сейчас. Но я отвечаю на Ваш вопрос, прежде всего, потому что он затрагивает ключевые моменты движения по пути исцеления и ёмок по количеству ответов, которые Вы можете на него получить, ведь Вы еще не дали мне конкретных данных о Вас, Вашей маме, ее диагнозах и Вашей семье. Таким образом, мой ответ не сведется к диагностике Вашей проблемы и, пока она безлична, я считаю себя вправе ответить на Ваш вопрос на страницах сайта. Думаю, что прочитать ответ будет не лишним для всех гостей сайта.</p>
                                <p>Во-первых, Вы абсолютно правы, никакие разговоры не делают человека здоровее. Особенно на «на малопонятные темы» и, в данном случае, чтобы найти ключ к выздоровлению Ваша мама должна САМА захотеть понять причину того, что с ней происходит. Ведь не исключен вариант, что Вашей маме просто нравиться болеть. Ведь это позволяет ей постоянно находиться в центре сочувственного внимания и заботы. И это обычный вампиризм. Тест на вампиризм прост. Ваша мама должна сама должна захотеть узнать внутренние причины и пересмотреть многие , возможно, ключевые моменты ее мировоззрения. Если она этого не сделает, то останется вечным пациентом официальной медицины, Вы и вся Ваша семья ее постоянными донорами энергии. Будем надеяться, что все не так и у Вашей мамы нет подсознательного желания питаться Вашей энергией. Тогда уже не Вы, а Ваша мама изложит мне свои жалобы.</p>
                                <p>Итак, чем поможет нам наше знание внутренних причин болезней?</p>
                                <p>
                                    Что такое человеческое тело? Тело - это самый великий любящий, данный человеку на всю физическую жизнь. Тело никогда не лжет и не позволяет лгать себе. Тело честное - это значит, что рано или поздно оно выставляет на обозрение все плохое. Будучи любящим, тело дарует самое лучшее – мудрость. Мудрость дает человеку свободу. Свобода – это любовь, счастье, успех, здоровье. Тело подводит своего возлюбленного к препятствию, служащими житейским уроком. Поначалу это маленький камешек, если его не замечают, проходят мимо, то следующим препятствием служит увесистый булыжник, а за ним – валун. И будет увеличиваться до высокой горы. Если тело видит, что и гору хотят преодолеть как физическое препятствие, не понимая, почему гора оказалась на его пути, то оно решает спасти глупца от гибели, прибегая к крайнему средству – оно ЖЕРТВУЕТ СОБОЙ! Подобное самопожертвование со стороны тела мы называем болезнью и не осознаем, ЧТО БОЛЕЗНЬЮ ТЕЛО ОБЪЯСНЯЕТСЯ В ЛЮБВИ СВОЕМУ ВОЗЛЮБЛЕННОМУ. Болезнь мы считаем плохой. Но послание тела человеку абсолютно понятно: « Я даю тебе болезнь. Это искупление твоего кармического долга, исправление твоих ошибок. Не сделай я этого, ты стал бы увеличивать долг кармы, причиняя другим зло. Теперь у тебя есть болезнь, которая заставит тебя заняться собой и тем самым помешает тебе нанести зло другим». Вот о чем кричит любящее тело!</p>
                                <p>Тело говорит с человеком очень понятно и буквально. Каждое конкретное недомогание или недовольство прячется за кашлем и болью в горле. Если человек зависает в негативных эмоциях, то в «награду» получает хронические болезни. Если человек не устраняет этих причин , а перекладывает ответственность за свое здоровье на медицину, он обречен на страдание и длительное лечение. Ведь Душа все равно будет стремиться достучаться до человеческого разума и заставить человека сделать очередной шаг в своем развитии. Самые упрямые, нежелающие ничего менять в своем восприятии мира, обычно в итоге получают неизлечимые или смертельные болезни. Именно поэтому большинство целителей отказываются лечить онкобольных. В этих пациентах они не видят стремления изменить себя и считают их путь в воплощении законченным и, напротив, все истории исцеления смертельно больных людей обязательно содержат элемент тотального пересмотра и переосмысления своей жизни. Любое медицинское лечение дает время на то, чтобы человек еще успел, что–то поменять в себе и когда он это сделал или начал это делать, лишь тогда помогает все и лекарства и народные средства и пр.</p>
                            </div>

                            <div class="question">
                                Прочитал на сайте одной из Ваших работ «Музыкальная магия». Не могли бы Вы более подробно объяснить, что это за работа и чем она может помочь?
                            </div>

                            <div class="answer">
                                <p>Музыкальная терапия – древняя часть целительской и духовной практик. Издавна шаманы, знахари использовали силу звуков и музыки для работы с внутренними вибрациями, которые имеют силу изменять и внешнюю реальность. Звуковая вибрация стоит в основе этого мира. Каждый звук несет в себе определенную силу и связан с конкретными участками мозга и всего организма.</p>
                                <p>Считается, что музыка стимулирует гипофиз, тем самым активно воздействует на нервную систему и потоки крови. Для создания исцеляющего эффекта, нужно заставить вибрировать клетки организма, создавая колебания определенной частоты. Такие колебания изменяют и сознание. Музыка управляет и эмоциональной матрицей человека. Запускаются определенные энергетические механизмы, которые приводят к тому или иному физическому, энергетическому эффекту.</p>
                                <p>Через наши чакры (энергетические центры организма) мы не только сообщаемся энергетически с тонкими телами, но еще и подключаем внешние энергии. Чакры отчасти приемник частот. Есть чакры, работающие на низких частотах и берут энергетические потоки их нижних миров, а есть те, что работают на высоких частотах и берут энергию из верхних миров. Для того, чтобы настроить работу энергетических вихрей нам необходимо подобрать созвучия – сходные колебания волн, на которые настроены чакры.</p>
                                <p>Музыка дарует счастье, мир, здоровье. Однако важно знать и соблюдать методику воздействия музыкального произведения, а также продолжительность такой терапии. Зная проблему</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {{ include('chunks/footer.html.twig') }}
        </div>
    </div>
{% endblock %}