{#
{% extends 'base.html.twig' %}

{% block title %}Наше взаимодействие{% endblock %}

{% block body %}
    <div class="out">
        <div class="wrapper">

            <div class="content">
                <div class="content__center center">
                    <p>Получить мою помощь просто. Вы заполняете форму и нажимаете кнопку «Отправить». Просмотрев Вашу информацию, я принимаю решение, продолжится ли наша совместная работа. В некоторых случаях я могу отказать в помощи без объяснений. Если наше сотрудничество продолжается, я сообщаю Вам об этом в ответном электронном письме. В нём я могу также попросить дополнительную информацию по существу дела и предложу возможные варианты оплаты. Получив подтверждение оплаты, я отправляю Вам письмо, в котором раскрою суть проблемы, её основные причины и способы воздействия на ситуацию. При необходимости возможны дополнительные консультации по телефону, скайпу, вайберу.</p>
                    <p>Настоятельно рекомендую Ваше видение сути проблемы изложить максимально чётко, конкретно, ясно и приложить фотографии, как Вашу, так и всех причастных лиц. Фото, желательно, свежие, качественные, лучше, чтобы глаза были хорошо видны. Все имена должны быть подлинными.</p>
                    <p>Напоминаю: Ваша решимость и твёрдое намерение существенно изменить свою жизнь – обязательное условие нашей совместной работы. Если Вы не готовы платить за магическую помощь, значит, Вы ещё не готовы её принять и Ваше решение ещё не созрело и не окрепло. Пожалуйста, не отнимайте моё время у тех, кто уже решился!</p>
                </div>
            </div>

            {{ include('chunks/footer.html.twig') }}
        </div>
    </div>
{% endblock %}
#}
{% extends 'base.html.twig' %}

{% block title %}Наше взаимодействие{% endblock %}

{% block body %}
    <div class="out">
        <div class="wrapper">
            <div class="main">
                <div class="main__center center" style="background: #112146; -webkit-box-shadow: 0px 0px 13px 9px rgba(7,21,57,1); -moz-box-shadow: 0px 0px 13px 9px rgba(7,21,57,1); box-shadow: 0px 0px 13px 9px rgba(7,21,57,1);">
                    <button class="main__burger js-burger"></button>
                    <div class="main__control js-control">
                        {{ include('chunks/nav.html.twig') }}
                    </div>
                    <div class="content">
                        <div class="content__center center">
                            <p>Получить мою помощь просто. Вы заполняете форму и нажимаете кнопку «Отправить». Просмотрев Вашу информацию, я принимаю решение, продолжится ли наша совместная работа. В некоторых случаях я могу отказать в помощи без объяснений. Если наше сотрудничество продолжается, я сообщаю Вам об этом в ответном электронном письме. В нём я могу также попросить дополнительную информацию по существу дела и предложу возможные варианты оплаты. Получив подтверждение оплаты, я отправляю Вам письмо, в котором раскрою суть проблемы, её основные причины и способы воздействия на ситуацию. При необходимости возможны дополнительные консультации по телефону, скайпу, вайберу.</p>
                            <p>Настоятельно рекомендую Ваше видение сути проблемы изложить максимально чётко, конкретно, ясно и приложить фотографии, как Вашу, так и всех причастных лиц. Фото, желательно, свежие, качественные, лучше, чтобы глаза были хорошо видны. Все имена должны быть подлинными.</p>
                            <p>Напоминаю: Ваша решимость и твёрдое намерение существенно изменить свою жизнь – обязательное условие нашей совместной работы. Если Вы не готовы платить за магическую помощь, значит, Вы ещё не готовы её принять и Ваше решение ещё не созрело и не окрепло. Пожалуйста, не отнимайте моё время у тех, кто уже решился!</p>
                        </div>
                        {{ include('chunks/task_form.html.twig') }}
                    </div>
                    
                </div>
            </div>
            {{ include('chunks/footer.html.twig') }}
        </div>
    </div>
{% endblock %}