{#
{% extends 'base.html.twig' %}

{% block title %}Своя стезя{% endblock %}

{% block body %}
    <div class="out">
        <div class="wrapper">

            <div class="content">
                <div class="content__center center">
                    <p>Я – городской шаман. Родился, вырос и провёл большую часть своей жизни в городах. Поэтому мыслю я по-городскому, ясно и конкретно. Я не собираюсь пудрить Вам мозги фейковыми рассказами о предках-шаманах, бабках-колдуньях и т.п.</p>
                    <p>В 2004 г. я получил шаманское посвящение у алтайского Мастера, далее шёл своим путём, обретая опыт, знания и развивая свою силу. Моя практика показала, что шаманизму нельзя научить, в него можно только посвятить, задав первоначальный импульс, который составит духовный стержень всего последующего служения. Это не книжная информация, а живое знание. Настоящий шаман познаёт и создаёт Свою Вселенную сам, следуя, лишь, зову Силы, Интуиции и собственной Духовной карте. Не слышал о случаях чудесных исцелений и решения проблем через механическое выполнение книжных обрядов и ритуалов. Реальное воздействие оказывает Личная Сила шамана, его Намерение и, в первую очередь, Божественная Сила Творца, проводимая мастером.</p>
                    <p>Шаманизм – это не религия, не бизнес, а осознанный духовный путь одиночки. Шаман не создаёт организаций и не имеет социальных регалий. Он познаёт мир, пребывая в гармонии с Природой и чётком осознании того, что всё во Вселенной происходит правильно и любое воздействие на её процессы должно быть мудрым, уместным и естественным. </p>
                    <p>Обретённая мною сила, знания, способности, дают мне возможность и право подставить другим плечо в трудные моменты их жизни, подсказать правильное направление или вытащить из западни. </p>
                    <p>Я – востребованный шаман. Создание сайта, работа через интернет – скорее ответ-эксперимент на просьбы моих попутчиков в совместном Духовном Пути.</p>
                </div>
            </div>

            {{ include('chunks/footer.html.twig') }}
        </div>
    </div>
{% endblock %}
#}
{% extends 'base.html.twig' %}

{% block title %}Своя стезя{% endblock %}

{% block body %}
    <div class="out">
        <div class="wrapper">
            <div class="main">
                <div class="main__center center" style="background: #112146; -webkit-box-shadow: 0px 0px 13px 9px rgba(7,21,57,1); -moz-box-shadow: 0px 0px 13px 9px rgba(7,21,57,1); box-shadow: 0px 0px 13px 9px rgba(7,21,57,1);">
                    <button class="main__burger js-burger"></button>
                    <div class="main__control js-control">
                        {{ include('chunks/nav.html.twig') }}
                    </div>
                    <div class="content">
                        <div class="content__center center">
                            <p>Я – городской шаман. Родился, вырос и провёл большую часть своей жизни в городах. Поэтому мыслю я по-городскому, ясно и конкретно. Я не собираюсь пудрить Вам мозги фейковыми рассказами о предках-шаманах, бабках-колдуньях и т.п.</p>
                            <p>В 2004 г. я получил шаманское посвящение у алтайского Мастера, далее шёл своим путём, обретая опыт, знания и развивая свою силу. Моя практика показала, что шаманизму нельзя научить, в него можно только посвятить, задав первоначальный импульс, который составит духовный стержень всего последующего служения. Это не книжная информация, а живое знание. Настоящий шаман познаёт и создаёт Свою Вселенную сам, следуя, лишь, зову Силы, Интуиции и собственной Духовной карте. Не слышал о случаях чудесных исцелений и решения проблем через механическое выполнение книжных обрядов и ритуалов. Реальное воздействие оказывает Личная Сила шамана, его Намерение и, в первую очередь, Божественная Сила Творца, проводимая мастером.</p>
                            <p>Шаманизм – это не религия, не бизнес, а осознанный духовный путь одиночки. Шаман не создаёт организаций и не имеет социальных регалий. Он познаёт мир, пребывая в гармонии с Природой и чётком осознании того, что всё во Вселенной происходит правильно и любое воздействие на её процессы должно быть мудрым, уместным и естественным.
                            </p>
                            <p>Обретённая мною сила, знания, способности, дают мне возможность и право подставить другим плечо в трудные моменты их жизни, подсказать правильное направление или вытащить из западни.
                            </p>
                            <p>Я – востребованный шаман. Создание сайта, работа через интернет – скорее ответ-эксперимент на просьбы моих попутчиков в совместном Духовном Пути.</p>
                        </div>
                    </div>
                </div>
            </div>
            {{ include('chunks/footer.html.twig') }}
        </div>
    </div>
{% endblock %}