{% extends 'base.html.twig' %}

{% block title %}Оплата{% endblock %}

{% block body %}
    <div class="out">
        <div class="wrapper">
            <div class="main">
                <div class="main__center center" style="background: #112146; -webkit-box-shadow: 0px 0px 13px 9px rgba(7,21,57,1); -moz-box-shadow: 0px 0px 13px 9px rgba(7,21,57,1); box-shadow: 0px 0px 13px 9px rgba(7,21,57,1);">
                    <button class="main__burger js-burger"></button>
                    <div class="main__control js-control">
                        {{ include('chunks/nav.html.twig') }}
                    </div>
                    <div class="content">
                        <div class="content__center center">
                            <p>Мои услуги платны. Я всегда работаю на условиях <b><em>полной предоплаты</em></b>. В результативности своих действий я не сомневаюсь и не хочу давать Вам повода для сомнений возможностью оплатить «по факту». Едва ли Вам удастся уехать на незаправленном автомобиле. Магическая работа – это процесс преобразования затраченной Вами энергии в желаемые изменения в жизни. Оплачивая мою работу, Вы заправляете автомобиль своей судьбы и наделяете меня полномочиями направить его сообразно Вашему желанию. До момента оплаты я <b><em>не имею права</em></b> не только вносить изменения в Вашу судьбу, но даже диагностировать.</p>
                            <p>Прейскуранта для магической работы нет. В каждом конкретном случае я сообщаю её стоимость, влияют на которую энергоёмкость, сложность и Ваша готовность к переменам в жизни.</p>
                            <p>Стоимость диагностики и анализа Вашей проблемы, причин её возникновения и выбора оптимального пути её решения составляет эквивалент 50 долларов США на момент оплаты.</p>
                            <p>Реквизиты для оплаты через систему WebMoney Вы найдёте непосредственно в форме обращения за помощью. Если в силу каких-либо причин этот вид оплаты для Вас неприемлем, в ответном электронном письме предложу альтернативу.</p>
                            <p>Иногда приходится слышать нечто в роде: «Очень нужна Ваша помощь, но у меня нет денег на это». Те, кто говорят это делятся на две категории. Люди первой -  просто кривят душой. У них есть необходимая сумма, но им жалко с ней расстаться. Люди такого сорта либо считают, что им обязаны помогать на их условиях, либо их цель просто не стоит этих денег.</p>
                            <p>У относящихся к второй их действительно нет и их я могу обрадовать. В жизни человек не встречает непосильных испытаний и тот факт, что он не может оплатить помощь со стороны, говорит о том, что в этот период жизни он может и должен справиться со своей проблемой сам. Пусть не легко, но это ему по силам. И когда он справится со своей частью задачи, при этом становясь сильнее, то сможет прийти к мастеру за помощью осознанно либо поймёт, что она ему уже не нужна. С людьми, справившимися с материальными проблемами и пришедшими ко мне повторно, бывало особенно приятно работать. Они относятся к своей жизни осознанно и воспринимают препятствия, как импульс для своего развития.</p>
                        </div>
                        {{ include('chunks/task_form.html.twig') }}
                    </div>
                    
                </div>
            </div>
            {{ include('chunks/footer.html.twig') }}
        </div>
    </div>
{% endblock %}