{% extends 'base.html.twig' %}

{% block title %}tmp{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="main">
        <div class="main__center center"></div>
    </div>
</div>
{% endblock %}