            <div class="footer">
                <div class="footer__center center">
                    <div class="footer__wrap">
                        <div class="footer__copyright">© 2011 Источник шамана</div>
                    </div>
                </div>
            </div>