<a class="main__logo" href="#"><img class="main__pic" src="img/logo.png"></a>
<div class="main__preview"><img class="main__photo" src="img/photo.png"></div>
<div class="main__head"><img class="main__img" src="img/head.png"></div>
<div class="main__text">
    Дорогая Родственная Душа!<br>
    Приветствую Тебя в Мастерской Осознанного Творения!<br>
    Мы чувствуем Твоё тепло и рады Тебе. Мы встретились здесь,<br>
    потому что наши души договорились об этом ещё до прихода в мир . Задержавшись на этой странице, Ты выразил готовность принять на себя ответственность за всё, происходящее в Твоей жизни.
</div>