<div class="content">
    <div class="content__center center">
        <h3 align="center">ПРАВИЛА</h3>

        <p>ВЗАИМНОЕ ДОВЕРИЕ</p>
        <p>Краеугольным камнем моей работы является <b><em>знание</em></b>. <b><em>Знание</em></b> моей души того факта, что Ваша душа обращается к моей душе не случайно, а по заранее утверждённому плану, согласно которому в уместный момент воплощения Вы обратитесь ко мне за помощью и я её окажу. Иногда действующие программы ума мешают человеку услышать голос его души, порождая скепсис и недоверие. Если они берут верх, не стоит обращаться ко мне. Время получить помощь ещё не пришло, возвращайтесь, когда услышите своё сердце!</p>

        <p>КОНФИДЕНЦИАЛЬНОСТЬ</p>
        <p>Любые Ваши вопросы и проблемы, как бы они ни выглядели с точки зрения «общественной морали» и «законности», не вызовут моего осуждения и не станут поводом для обсуждения с посторонними.</p>
        <p>Независимо от того, получите Вы мою помощь или нет, Ваши персональные данные и суть вопроса в привязке к ним не будут переданы третьим лицам.<br> <b><em>По Вашему желанию</b></em> или в случае <b><em>моего отказа</b></em> работать над решением Вашей проблемы, все переданные Вами материалы и данные <b><em>удаляются незамедлительно</b></em>.</p>

        <p>ПОРЧА, ПРОКЛЯТЬЕ, ПРИВОРОТ И ДРУГИЕ ВРЕДОНОСНЫЕ ДЕЙСТВИЯ</p>
        <p>Знаю, умею, имею в арсенале и <b><em>НА ЗАКАЗ НЕ ДЕЛАЮ</b></em>. Могу понять желание заказать их. Иногда кажется, что проблему можно решить только силовым путём, заставив другого выполнить нашу волю, а если не получится, то покарать! Когда таким образом рассуждают политики, в мире происходят революции и войны, даже победа в которых в итоге оборачивается против победителей.</p>

        <p>Вы хотите решить лично Ваши проблемы наиболее действенным, результативным и гармоничным способом? Я предложу «мирные» варианты для этого.</p>
        <p>Вам хочется, всё-таки, повоевать, ценой жертв добиться победы и пострадать от неё же в результате – Вам помогут в этом другие мастера.</p>

        <p>ФАКТОРЫ, ВЛИЯЮЩИЕ НА РЕЗУЛЬТАТ</p>
        <p>Для достижения и сохранения результатов работы, Вы должны сохранять <b><em>в строжайшей тайне</b></em> даже от самых близких людей не только подробности 
            нашего взаимодействия, но и сам факт получения магической помощи. Если Вы захотите <b><em>обратиться ещё и к другому</b></em> шаману, целителю, знахарю, ясновидящему, 
            колдуну, ведьме, магу, экстрасенсу, я ни в коем случае не стану отговаривать Вас от этого шага. 
            Единственное условие – делать это до, после или вместо нашего сотрудничества, но <b><em>не параллельно</b></em>. При этом Вы можете <b><em>рекомендовать</b></em> 
            обратиться ко мне людям, которые, на Ваш взгляд, нуждаются в моей работе и готовы принять помощь. Конечно, делать это нужно <b><em>без ссылок на подробности</b></em> 
            Вашего личного опыта.</p>
        <p align="right"><em>Быстро можно лишь упасть, тогда как для того, чтобы подняться, необходимо время.</p></em><p align="right"><em>Л.Виилма</em></p>
        <p>Рекомендую, также, <b><em>воздержаться от поспешных выводов</b></em> о результативности проведённой работы. Очевидные изменения наступают не мгновенно и это не удивительно, поскольку к магической помощи не прибегают для решения тривиальных бытовых задач. Материальная Вселенная инертна, а сомнения порождают негативный эмоциональный фон, тормозящий наступление желаемого эффекта.</p>
    </div>
</div>